@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f8e4df;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px;
    background-color: #f1e8e3;
    background-attachment: fixed;
    position: sticky;
    z-index: 100;
}

.navclass a{
    margin: 0 15px;
    text-decoration: none;
    color: #555;
    font-size: 14px;
    /* transition- color: 0.3s; */
}

.navclass a:hover{
    color: purple;
}

 .navbar div a{
    margin-right: 10px;
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.line{
    margin-top: 20px;
    width: 4%;
    border: 1px solid black;
    position: absolute;
    left: 48%;
}

.directions{
    text-align: center;
    padding: 2rem;
}

.directions h2{
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
    color: rgba(19, 8, 8, 0.678);
    margin-bottom: 1.5rem;
}

.address{
    text-align: center;
    font-size: 1.2rem;
    color: rgba(19, 8, 8, 0.678);
    margin-bottom: 2rem;
    line-height: 1.6;
}

.opening-hours{
    text-align: center;
    font-size: 1.2rem;
    color: rgba(19, 8, 8, 0.678);
    margin-bottom: 2rem;
    line-height: 1.6;
}

.opening-hours h3{
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    color: rgba(19, 8, 8, 0.678);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.map{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.comments{
    background-color: rgb(167, 132, 138);
    padding: 20px;
    width: 5%;
    border-radius: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.comments .fa-comment{
    color: white;
    font-size: 1.5rem;
}

.footer{
    background-color: rgb(52, 51, 51);
    height: 40vh;
}

.footer .social-media{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.footer .social-media a{
    margin: 0 10px;
    padding: 7px;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border-radius: 50%;
}

.footer p{
    text-align: center;
    color: white;
    margin-top: 20px;
}

@media (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navclass a{
        margin: 10px 0;
    }

    .line{
        left: 50%;
        transform: translateX(-50%);
    }

    .directions h2{
        font-size: 2rem;
    }

    .address, .opening-hours p{
        font-size: 1rem;
    }

    .map iframe{
        width: 90%;
        height: 300px;
    }

    .comments{
        width: 15%;
        padding: 10px;
    }

    .footer{
        height: auto;
        padding: 20px;
    }
}    



